*{
    margin: 0;
    padding: 0;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.container{
    background-color: #0e0e0e;
    height: 80vh;
}
/* navbar */
nav{
    color: white;
    height: 10vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo {
    display: flex;
    justify-content: center;
    width: 20vw;
    font-size: 22px;
    margin-top: 20px;
    z-index: 1;
    cursor: pointer;
}
ul {
    list-style: none;
    display: flex;
    justify-content: end;
    gap:30px;
    width: 45vw;
    margin-top: 20px;
}
li{
    font-size: 18px;
    font-weight:600;
    cursor: pointer;
}
.box{
    width: 20vw;
}
.purchase{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 12vw;
    height: 8vh;
    background-color: white;
    gap: 20px;
    margin-top: 20px;
    cursor: pointer;
}
.purchase p {
    color: #0e0e0e;
    font-size: 18px;
    font-weight:600;
    cursor: pointer;
}
.small-black-circle{
    background-color: black;
    width: 0.5vw;
    height: 1.1vh;
    border-radius: 100%;
    transition: bounce 0.4s infinite;
}
.small-black-circle:hover{
    animation: bounce 0.4s infinite;
}
@keyframes bounce {
    0%, 100%{
        transform: translateY(0);
    }
    50% {
        transform: translateY(-0.7rem);
    }
}
/* hero section */
.hero{
    height: 60vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.hero-title{
    color: white;
    font-size: 6.5rem;
    font-weight: 500;
    margin-bottom: 10px;
    z-index: 1;
}
.hero-paragraph{
    color: white;
    width: 41vw;
    text-align: center;
    font-size: 1.1rem;
    font-weight: 500;
}
.circle{
    width: 35vw;
    height: 75vh;
    background-color: #202020;
    border-radius: 100%;
    position:relative;
    bottom: 640px;
    left: 150px;
}
/* content section  */
.content{
    background-color: #0e0e0e;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 80px;
    padding-bottom: 120px;
}
.cards{
    transition: transform 0.3s ease;
    cursor: pointer;
}
.cards:hover{
    transform: translateY(-1rem);
}
.group-cards{
    display: flex;
    gap: 30px;
}
.last-group-cards{
    display: flex;
    justify-content: start;
    width:90vw ;
    gap: 60px;
}
.cards-title{
    color: white;
    text-align: center;
    font-size: 1.3rem;
    font-weight: 600;
    margin-top: 20px;
    cursor: pointer;
}
/* last section */
.last-section{
    background-color: rgb(255, 255, 255);
    height: 160vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.first-part{
    display: flex;
    justify-content:center;
    align-items: center;
    width: 90vw;
}
.image1{
    position: relative;
    top: 160px;
    left: 25px;
    box-shadow: 1px 5px 20px rgba(0, 0, 0, 0.151);
}
.image2{
    position: relative;
    top: 80px;
    left: 210px;
    box-shadow: 1px 1px 20px rgba(0, 0, 0, 0.151);
}
.left-side{
    width: 60%;
}
.right-side{
    width: 30vw;
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: end;
    gap: 10px;
    margin-right: 200px;
} 
.last-section-title{
    font-weight: 600;
    font-size: 2.2rem;
}
.container1{
    height: 40vh;
    width: 30vw;
    display: flex;
    justify-content: end;
    align-items: end;
}
.container2{
    width: 23vw;
    height: 35vh;
    display: flex;
    flex-direction: column;
    gap:20px;
    justify-content: space-between;   
}
.last-section-paragraph{
    font-size: 1.1rem;
    margin-top: 10px;
}
.black-box{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 15vw;
    height: 9vh;
    gap:10px;
    background-color: #0e0e0e;
    margin-bottom:10px;
    cursor: pointer;
}
.black-box-title{
    font-weight: 600;
    color: rgb(255, 255, 255);
}
.small-white-circle{
    background-color: rgb(255, 255, 255);
    width: 0.5vw;
    height: 1.1vh;
    border-radius: 100%;
    transition: bounce 0.4s infinite;
}
.small-white-circle:hover{
    animation: bounce 0.4s infinite;
}
.second-part{
    display: flex;
    gap: 20px;
    margin-top: 10rem;
    cursor: pointer;
}
.more{
    margin-top: 2rem;
    font-size: 18px;
    font-weight: 600;
    cursor: pointer;
}